<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="https://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>
				My Snippet
			</Title>
			<Shortcut>cwww</Shortcut>
		</Header>

		<Snippet>
			<Code Language="CSharp">
				<![CDATA[Console.Write("This is snippet Code");]]>
			</Code>
		</Snippet>
		
	</CodeSnippet>
	
</CodeSnippets>
